<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.co.iamannitian.iamannitian">

    <application
        android:name="me.at.nitsxr.App"
        android:allowBackup="true"
        android:icon="@drawable/imnitian"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Notification">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".CompleteProfile"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".CollegeSuggestions"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name=".SuccessStory"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ContactUs" />
        <activity android:name=".AboutUs" />
        <activity android:name=".AppInfo" />
        <activity
            android:name=".YoutubePlayer"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".OnViewPagerClick"
            android:parentActivityName=".NewsActivity" />
        <activity android:name=".NewsActivity" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".ProfileActivity" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/HideAppBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SignupActivity"
            android:theme="@style/HideAppBar"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".LoginOrSignupActivity" />
        <activity
            android:name=".ForgetPassword"
            android:parentActivityName=".LoginActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".SplashScreen">
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            tools:replace="android:theme" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <receiver android:name="me.at.nitsxr.NotificationReceiver"/>

    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>