<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.co.iamannitian.iamannitian">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="me.at.nitsxr.App"
        android:allowBackup="true"
        android:icon="@drawable/imnitian"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".College"
            android:parentActivityName=".MainActivity"
            >

        </activity>
        <activity
            android:name=".ContactUs"
            android:parentActivityName=".ContactUs" />

        <activity
            android:name=".EditProfile"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/EditProfileStyle"
            android:launchMode="singleInstance"
            android:parentActivityName=".UserProfile">

        </activity>

        <activity
            android:name=".UserProfile"
            android:parentActivityName=".MainActivity"
            android:theme="@style/ProfileStyle" />
        <activity
            android:name=".SavedItem"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SettingActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CompleteProfile"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name=".CollegeSuggestions"
            android:parentActivityName=".CompleteProfile"
            android:theme="@style/AutoCompleteStyle"
            android:windowSoftInputMode="adjustPan|stateHidden">

        </activity>
        <activity
            android:name=".SuccessStory"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".AppInfo" />
        <activity
            android:name=".OnViewPagerClick"
            android:parentActivityName=".NewsActivity" />
        <activity
            android:name=".NewsActivity"
            android:launchMode="singleInstance"
            android:parentActivityName=".MainActivity"
            android:theme="@style/SearchViewStyle"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".NotificationActivity"
            android:launchMode="singleInstance"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LoginActivity"
            android:launchMode="singleInstance"
            android:parentActivityName=".LoginOrSignUpActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SignupActivity"
            android:launchMode="singleInstance"
            android:parentActivityName=".LoginActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".LoginOrSignUpActivity" />
        <activity
            android:name=".ForgetPassword"
            android:parentActivityName=".LoginActivity"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver android:name="me.at.nitsxr.NotificationReceiver" />

        <service android:name="me.at.nitsxr.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>